# Echo App - 鐢熶骇鐜閰嶇疆妯℃澘
# 閮ㄧ讲鍒?ECS 鏃朵娇鐢?
DATABASE_URL="postgresql://echo_user:Czx2002517!@pgm-bp195rs24s2476mydo.pg.rds.aliyuncs.com:5432/echo"
NEXTAUTH_SECRET="289d507af2c9aedf356016aff018d4527fdad04467d3384c7a768e3d8189d0ab"
NEXTAUTH_URL="https://echoo.xin"
NODE_ENV="production"
